<header ng-class="{'oncase-header':true, 'ripple-wrapper':true, 'md-whiteframe-z3':true, 'oncase-small-header':boolChangeClass}"  
        ripple-config="{
                        targetDepth : 6, 
                        triggerSelector : '.oncase-header-ripple-tgt md-tab-item *, .oncase-header-ripple-tgt md-tab-item', 
                        doNotTriggerSelector : 'md-tab-item.md-active, md-tab-item.md-active *'
                      }" scroll="80">

  <div class="oncase-logo"></div>

  <div class="oncase-lang-sel-wrapper">
    <i class="material-icons">language</i>
    <a href="{{HeaderCtrl.getCurrentRoutForLang('pt')}}" class="oncase-lang-item no-outline oncase-lang-pt" target="_self" ng-class="{ active : HeaderCtrl.getCurrentLang()==='pt' }"></a>
    <a href="{{HeaderCtrl.getCurrentRoutForLang('en')}}" class="oncase-lang-item no-outline oncase-lang-en" target="_self" ng-class="{ active : HeaderCtrl.getCurrentLang()==='en' }"></a>
  </div>
  <md-tabs md-selected="selectedIndex" class="hidden-md hidden-sm hidden-xs oncase-header-ripple-tgt" md-scompotretch-tabs="never" md-center-tabs md-no-ink md-align-tabs="bottom" >
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="{{ 'header.MENU_HOME' | translate }}" data-identifier="actualTab"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="{{ 'header.MENU_ABOUT' | translate }}"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="{{ 'header.MENU_SERVICES' | translate }}"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="{{ 'header.MENU_PRODUCTS' | translate }}"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="{{ 'header.MENU_CLIPAR' | translate }}"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="{{ 'header.MENU_CONTACT' | translate }}"></md-tab>
  </md-tabs>
      <div class="hidden-lg oncase-menu-button">
        <md-button class="pull-right tapa-menu tapa-icon md-icon-button md-primary" ng-click="showMenu('right')" aria-label="Settings">
          <md-icon md-svg-icon="assets/img/menu.svg"></md-icon>
        </md-button>
      </div>

</header>