<header class="oncase-header ripple-wrapper md-whiteframe-z3"  
        ripple-config="{
                        targetDepth : 6, 
                        triggerSelector : '.oncase-header-ripple-tgt md-tab-item *, .oncase-header-ripple-tgt md-tab-item', 
                        doNotTriggerSelector : 'md-tab-item.md-active, md-tab-item.md-active *'
                      }">

  <div class="oncase-logo"></div>

  <md-tabs md-selected="selectedIndex" class="oncase-header-ripple-tgt" md-scompotretch-tabs="never" md-center-tabs md-no-ink md-align-tabs="bottom" >
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="Home" data-identifier="actualTab"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="Quem Somos"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="Serviços"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="Produtos"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="Clientes&Parceiros"></md-tab>
      <md-tab md-on-select="HeaderCtrl.tabClicked(selectedIndex)" label="Contato"></md-tab>
  </md-tabs>

</header>