<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">   
	<div class="oncase-breadcrumbs oncase-white">Produtos</div>
</section>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="oncase-content-margin">
		<h2 class="oncase-section-heading oncase-gray text-center" >Oferecemos</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">Soluções</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>

		<p class=" oncase-promo-text text-center">
			Ao longo de vários projetos que participamos desde o início das nossas atividades em 2007, pudemos nos dedicar à criação de alguns produtos que entendemos atendem a necessidades específicas do mercado. Listamos aqui, além dessas soluções de mercado, plataformas e fabricantes com os quais trabalhamos e somos parceiros.
		</p>


    </div>
</section>


<div class="oncase-separator"></div>	

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-white-section-fonts ">
<div class="container-fluid">	

	<div class="row oncase-table">
		<div class="col-sm-4 oncase-side-img-container bg-oncase-blue hidden-sm hidden-xs">
		      

			<div class="oncase-vertical-middle">
				<i class="fa fa-pencil-square-o oncase-big-icon oncase-white"></i>
			</div>



		</div>
		<div class="col-sm-12 oncase-padding-top oncase-padding-bottom">


							<div class="oncase-content-margin">

								<h2 class="oncase-section-heading oncase-gray text-center" >BI para</h2>
								<h1 class="oncase-section-heading oncase-blue text-center">Controladoria</h1>
								<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
								
									<div class="oncase-content-margin">
										<p class="oncase-promo-text text-left ">
											Nós já fizemos vários projetos para controladorias pelo mercado afora. Isso nos deu o conhecimento necessário para estruturarmos um produto que o mercado necessita, cobrindo, dentre outros: estruturação de DREs com app de apoio, visualização de resultados em ferramenta OLAP - sendo possível perfurar até os menores níveis da cadeia de informação -, visualização de informações gerenciais em painéis customizados e envio de alertas para acompanhamento de indicadores parciais e consolidados.
										</p>
								
										<div class="text-center oncase-margin-top">
								            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(productsCtrl.goTo(5))">Solicite uma apresentação</md-button>
								        </div>

									</div>


							</div>



		</div>
	</div>
</div>
</section>


<div class="oncase-separator"></div>	

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-white-section-fonts ">
<div class="container-fluid">	

	<div class="row oncase-table">

		<div class="col-sm-12 oncase-padding-top oncase-padding-bottom">


							<div class="oncase-content-margin">

								<h2 class="oncase-section-heading oncase-gray text-center" >Produto para</h2>
								<h1 class="oncase-section-heading oncase-blue text-center">Supply Chain</h1>
								<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
								
									<div class="oncase-content-margin">
										<p class="oncase-promo-text text-left ">
											Possuímos a solução que você precisa para integrar toda a informação da sua cadeia de distribuição.  
										</p>
										<p class="oncase-promo-text text-left ">
											Nosso produto é capaz de fornecer uma maneira paramétrica para a integração de dados de diferentes origens, além de fornecer Módulos e KPIs prontos para:
										</p>
												<ul class="oncase-promo-text">
													<li>Qualidade da informação integrada</li>
													<li>Índice de ruptura</li>
													<li>Planejamento de estoque</li>
													<li>Sellin x Sellout x Planejamento</li>
													<li>Pesquisa de lojas com app mobile de apoio</li>
												</ul>
										
										<div class="text-center oncase-margin-top">
								            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(productsCtrl.goTo(5))">Solicite uma apresentação</md-button>
								        </div>

									</div>


							</div>



		</div>
		<div class="col-sm-4 oncase-side-img-container bg-oncase-blue hidden-sm hidden-xs">
		      

			<div class="oncase-vertical-middle">
				<i class="fa fa-truck oncase-big-icon oncase-white"></i>
			</div>



		</div>
	</div>
</div>
</section>



<div class="oncase-separator"></div>	

<div class="oncase-white-section-fonts oncase-content-margin">

	<h1 class="oncase-section-heading oncase-blue text-center">Tecnologia</h1>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-content-margin">
		<p class="oncase-promo-text text-center ">
			Além de nossas próprias soluções, oferecemos consultoria e suporte para produtos de fornecedores com quem mantemos  parceria.
		</p>
	</div>

	<div class="container-fluid oncase-margin-top">
		<div class="row-fluid">
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-pentaho.png" width="240" />
				</div>

				<p class="oncase-promo-text text-center ">
					Nosso carro chefe. Ferramenta que utilizamos em todos os nossos projetos, além de uma plataforma de Business Analytics completa é o instrumento fundamental na caixa de ferramentas do desenvolvedor de Big Data, Business Analytics e Data Miner.
				</p>
			</div>
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-mongodb.png" width="240" />
				</div>
				<p class="oncase-promo-text text-center ">
					Somos orgulhosos parceiros da MongoDB, fornecedora de um sistema de poderosíssimo para persistência de BigData com características incríveis em escalabilidade e alta disponibilidade. 
				</p>
			</div>
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-vertica.png" width="240" />
				</div>
				<p class="oncase-promo-text text-center ">
					Hoje em dia não se pensa mais em fazer Business Intelligence ou Analytics para o usuário final sem pensar em um banco de dados especialista. O HP Vertica oferece uma solução acessível a todos os negócios com qualidade e velocidade incomparáveis.
				</p>
			</div>

		</div>
	</div>
</div>


<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>