<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">   
	<div class="oncase-breadcrumbs oncase-white">{{ 'header.MENU_PRODUCTS' | translate }}</div>
</section>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="oncase-content-margin">
		<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'products.WEOFFER_SOLUTIONSTXT1' | translate }}</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">{{ 'products.WEOFFER_SOLUTIONSTXT2' | translate }}</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>

		<p class=" oncase-promo-text text-center" translate>
			{{ 'products.PRODUCTS_INTROTXT' }}
		</p>


    </div>
</section>


<div class="oncase-separator"></div>	

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-white-section-fonts ">
<div class="container-fluid">	

	<div class="row oncase-table">
		<div class="col-sm-4 oncase-side-img-container bg-oncase-blue hidden-sm hidden-xs">
		      

			<div class="oncase-vertical-middle">
				<i class="fa fa-pencil-square-o oncase-big-icon oncase-white"></i>
			</div>



		</div>
		<div class="col-sm-12 oncase-padding-top oncase-padding-bottom">


							<div class="oncase-content-margin">

								<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'products.BI_CONTROLTXT1' | translate }}</h2>
								<h1 class="oncase-section-heading oncase-blue text-center">{{ 'products.BI_CONTROLTXT2' | translate }}</h1>
								<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
								
									<div class="oncase-content-margin">
										<div class="oncase-absolute-center oncase-section-image-single text-center hidden-lg hidden-md">
											<i class="fa fa-pencil-square-o oncase-big-icon oncase-blue"></i>
										</div>
										<p class="oncase-promo-text text-left " translate>
											{{ 'products.BI_CONTROL_INTROTEXT' }}
										</p>
								
										<div class="text-center oncase-margin-top">
								            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(productsCtrl.goTo(5))">{{ 'products.SCHEDULE_PRESENTATION' | translate }}</md-button>
								        </div>

									</div>


							</div>



		</div>
	</div>
</div>
</section>


<div class="oncase-separator"></div>	

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-white-section-fonts ">
<div class="container-fluid">	

	<div class="row oncase-table">

		<div class="col-sm-12 oncase-padding-top oncase-padding-bottom">


							<div class="oncase-content-margin">

								<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'products.SUPPLYCHAINTXT1' | translate }}</h2>
								<h1 class="oncase-section-heading oncase-blue text-center">{{ 'products.SUPPLYCHAINTXT2' | translate }}</h1>
								<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
								
									<div class="oncase-content-margin">
										<div class="oncase-absolute-center oncase-section-image-single text-center hidden-lg hidden-md">
											<i class="fa fa-truck oncase-big-icon oncase-blue"></i>
										</div>
										<div translate>
											{{ 'products.SUPPLYCHAIN_INTROTEXT' }}
										</div>
										
										<div class="text-center oncase-margin-top">
								            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(productsCtrl.goTo(5))">{{ 'products.SCHEDULE_PRESENTATION' | translate }}</md-button>
								        </div>

									</div>


							</div>



		</div>
		<div class="col-sm-4 oncase-side-img-container bg-oncase-blue hidden-sm hidden-xs">
		      

			<div class="oncase-vertical-middle">
				<i class="fa fa-truck oncase-big-icon oncase-white"></i>
			</div>



		</div>
	</div>
</div>
</section>



<div class="oncase-separator"></div>	

<div class="oncase-white-section-fonts oncase-content-margin">

	<h1 class="oncase-section-heading oncase-blue text-center">{{ 'products.TECH' | translate }}</h1>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-content-margin">
		<p class="oncase-promo-text text-center " translate >
			{{ 'products.TEXH_TEXT' }}
		</p>
	</div>

	<div class="container-fluid oncase-margin-top">
		<div class="row-fluid">
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-pentaho.png" width="240" />
				</div>

				<p class="oncase-promo-text text-center " translate>
					{{ 'products.PENTAHO_TEXT' }}
				</p>
			</div>
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-mongodb.png" width="240" />
				</div>
				<p class="oncase-promo-text text-center " translate>
					{{ 'products.MONGODB_TEXT' }}
				</p>
			</div>
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-vertica.png" width="240" />
				</div>
				<p class="oncase-promo-text text-center " translate>
					{{ 'products.VERTICA_TEXT' }}
				</p>
			</div>

		</div>
	</div>
</div>


<div class="oncase-separator hidden-lg hidden-md hidden-sm"></div>	
<div class="oncase-separator hidden-lg hidden-md hidden-sm"></div>	
<div class="oncase-separator hidden-lg hidden-md hidden-sm"></div>	
<div class="oncase-separator hidden-lg hidden-md hidden-sm"></div>	
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>