<section class="oncase-white-section oncase-white-section-fonts bg-oncase-white" ng-controller="PartialController as parCtrl">
	<div class="oncase-content-margin">

		<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'awards.RECOGNITION_L1' | translate }}</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">{{ 'awards.RECOGNITION_L2' | translate }}</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
		<p class="oncase-promo-text text-center">
			{{ 'awards.RECOGNITION_TXT1' | translate }}
			<br />
			{{ 'awards.RECOGNITION_TXT2' | translate }}
		</p>


		<div class="oncase-separator"></div>
		<h3 class="oncase-section-heading oncase-blue text-center">{{ 'awards.PREMIUM_PARTNER' | translate }}</h2>
		<div ng-include="'assets/img/pentaho-premium-partner.svg'" class="oncase-absolute-center oncase-section-image-single"></div>
		<p class="oncase-promo-text text-center">
			{{ 'awards.PREMIUM_PARTNER_TXT1' | translate }}
			<br />
			{{ 'awards.PREMIUM_PARTNER_TXT2' | translate }}
		</p>

		<div class="col-sm-12 col-md-offset-3 col-md-3 oncase-absolute-center oncase-section-image-double" ng-include="'assets/img/poty-2013.svg'" ></div>
		<div class="col-sm-12                 col-md-3 oncase-absolute-center oncase-section-image-double" ng-include="'assets/img/poty-2014.svg'" ></div>
		<p class="oncase-promo-text text-center">
			{{ 'awards.PARTNER_YEAR_TXT' | translate }}
		</p>

		<div class="oncase-separator"></div>
		<h3 class="oncase-section-heading oncase-blue text-center">{{ 'awards.CERTIFICATIONS' | translate }}</h2>
		<div class="col-md-12  col-md-4 oncase-absolute-center oncase-section-image-triple" ng-include="'assets/img/cmmi-dev.svg'" ></div>
		<div class="col-md-12  col-md-4 oncase-absolute-center oncase-section-image-triple" ng-include="'assets/img/cmmi-svc.svg'" ></div>
		<div class="col-md-12  col-md-4 oncase-absolute-center oncase-section-image-triple" ng-include="'assets/img/mps-br.svg'" ></div>
		<p class="oncase-promo-text  text-center">
			{{ 'awards.CERTIFICATIONS_TXT' | translate }}
		</p>

		<div class="oncase-separator"></div>
		<div ng-show="showAwardsSeeMoreButton" layout="row" layout-align="center center">
			  <md-button class="md-raised oncase-big-button md-primary oncase-button" ng-click="HeaderCtrl.tabClicked(homeCtrl.goTo(1))">{{ 'awards.SEE_MORE' | translate }}</md-button>
		</div>
	</div>

</section>