
<div class="oncase-separator "></div>
<div layout="row" layout-align="center center">
	<div class="oncase-white-section-fonts">
		<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'campus.HEADDING_L1' | translate }}</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">{{ 'campus.HEADDING_L2' | translate }}</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	</div>
</div>
<div class="oncase-campus-image text-center">
	<a target='_blank' href='http://campus.onca.se/'>
		<img src="assets/img/training.png">
	</a>
</div>
<div class="container-fluid oncase-content-margin-flex" ng-controller="PartialController as parCtrl">


		<p class="oncase-promo-text text-center" translate>
			{{ 'campus.TEXT' }}
		</p>

</div>

<div layout="row" layout-align="center center">
	  <md-button class="md-raised oncase-big-button md-accent oncase-button text-white" ng-href="http://campus.onca.se" target="_blank">{{ 'campus.BUTTON_VISIT' | translate }}</md-button>
</div>

<div class="oncase-separator "></div>
