

<div class="container-fluid oncase-content-margin-flex" >

	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
	  	<div class="oncase-flexcard-img" ng-include="'/assets/img/elephant.svg'"></div>
	  	<h2>Big Data Integration</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
	  	<div class="oncase-wrapped-text-3l">Integrate, Clean and Enhance your data consuming it from virtualy any source.</div>
	  </div>


	</div>
	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
		<div class="oncase-flexcard-img" ng-include="'/assets/img/charts.svg'"></div>
		<h2>Business Intelligence</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
		<div class="oncase-wrapped-text-3l">Explore, get alerted and and visualize your information on any demand and depth</div>
	  </div>

	</div>
	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
		<div class="oncase-flexcard-img" ng-include="'/assets/img/analytics-card.svg'"></div>
		<h2>Data Analytics</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
		<div class="oncase-wrapped-text-3l">Understand the knowledge within your information and antecipate risks</div>
	  </div>

	</div>
	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
		<div class="oncase-flexcard-img" ng-include="'/assets/img/optimization.svg'"></div>
		<h2>Optimization</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
		<div class="oncase-wrapped-text-3l">Tune your organization to its full potential</div>
	  </div>

	</div>


</div>

<div layout="row" layout-align="center center" ng-show="showServicesFlowMoreButton">
	  <md-button class="md-raised oncase-big-button md-primary oncase-button">See more</md-button>
</div>