

<div class="container-fluid oncase-content-margin-flex" ng-controller="PartialController as parCtrl">

	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
	  	<div class="oncase-flexcard-img" ng-include="'/assets/img/elephant.svg'"></div>
		<h2>{{ 'servicesFlow.BIG_DATA_INTEGRATION' | translate }}</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
	  	<div class="oncase-wrapped-text-3l">{{ 'servicesFlow.BIG_DATA_INTEGRATION_TXT' | translate }}</div>
	  </div>


	</div>
	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
		<div class="oncase-flexcard-img" ng-include="'/assets/img/charts.svg'"></div>
		<h2 translate>servicesFlow.BUSINESS_INTELLIGENCE</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
		<div class="oncase-wrapped-text-3l" translate>servicesFlow.BUSINESS_INTELLIGENCE_TXT</div>
	  </div>

	</div>
	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
		<div class="oncase-flexcard-img" ng-include="'/assets/img/analytics-card.svg'"></div>
		<h2>{{ 'servicesFlow.ANALYTICS' | translate }}</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
		<div class="oncase-wrapped-text-3l">{{ 'servicesFlow.ANALYTICS_TXT' | translate }}</div>
	  </div>

	</div>
	<div class="col-lg-height col-sm-12 col-md-6 col-lg-3">

	  <div class=" oncase-flexcard " mouse-over-class="md-whiteframe-z1" >
		<div class="oncase-flexcard-img" ng-include="'/assets/img/optimization.svg'"></div>
		<h2>{{ 'servicesFlow.OPTIMIZATION' | translate }}</h2>
	  	<div class="oncase-header-underscore bg-oncase-blue"></div>
		<div class="oncase-wrapped-text-3l">{{ 'servicesFlow.OPTIMIZATION_TXT' | translate }}</div>
	  </div>

	</div>


</div>

<div layout="row" layout-align="center center" ng-show="showServicesFlowMoreButton">
	  <md-button class="md-raised oncase-big-button md-primary oncase-button" ng-click="HeaderCtrl.tabClicked(homeCtrl.goTo(2))">{{ 'servicesFlow.SEE_MORE' | translate }}</md-button>
</div>