   RewriteEngine On


    ## Legacy links
    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^$ /prerender/pt/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^about/?$ /prerender/pt/about/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^services/?$ /prerender/pt/services/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^clients-and-partners/?$ /prerender/pt/clients-and-partners/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^products/?$ /prerender/pt/products/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^contact/?$ /prerender/pt/contact/index.html? [L,R=301]


    ## Portuguese 
    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^pt/about/?$                /prerender/pt/about/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^pt/services/?$             /prerender/pt/services/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^pt/clients-and-partners/?$ /prerender/pt/clients-and-partners/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^pt/products/?$             /prerender/pt/products/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^pt/contact/?$              /prerender/pt/contact/index.html? [L,R=301]


    ## English 
    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^en/about/?$                /prerender/en/about/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^en/services/?$             /prerender/en/services/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^en/clients-and-partners/?$ /prerender/en/clients-and-partners/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^en/products/?$             /prerender/en/products/index.html? [L,R=301]

    RewriteCond %{HTTP_USER_AGENT} Googlebot|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator
    RewriteRule ^en/contact/?$              /prerender/en/contact/index.html? [L,R=301]


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L]
