
    <style type="text/css">

    .fake-content{
      background-color:#fff;
    	width:100%;
      position: absolute;
      z-index: -1;
      height: 400px;
      margin-top: -200px;
      background-image: url(../../assets/img/jumbo-bg.png);
      background-attachment: fixed;
      opacity: .5;
     /*grayscale for background image*/
      -webkit-filter: grayscale(1) brightness(2.3); 
      -webkit-filter: grayscale(100%) brightness(230%);
      -moz-filter: grayscale(100%) brightness(230%);
      filter: gray; 
      filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
      filter: grayscale(100%) brightness(230%);


    }
    .charts{
    	width:100%;
    	height:165px;
    }
    .footer-content{
      background-color:#2b4c7f;
      width:100%;
      display: inline-block;
      margin-top:-6px;
      padding-bottom:60px;
      color:#fff;

    }
    .footer-content-gray{
      background-color:#333;
      width:100%;
      height:0px;
    }


    /*
		Start of area chart styling
    */
    
    .oncase-dots,
    .oncase-bar{
    	cursor:pointer;
    }

    .oncase-area-chart,
    .oncase-area-point-blue,
    .oncase-area-point-blue-small { fill: #2b4c7f; }
    .oncase-area-point-light{
    	fill:#fff;
    }

    .oncase-dots .oncase-area-point-blue,
    .oncase-dots .oncase-area-point-blue-small{
    	stroke:#2b4c7f;
    }
	.oncase-dots .oncase-area-point-blue{
		stroke-width:0px;
	}
	.oncase-dots .oncase-area-point-blue-small{
		stroke-width:3px;
	}

	.oncase-dots .oncase-area-point-blue,
	.oncase-dots .oncase-area-point-blue-small,
  .oncase-bar{
	    -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	    -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	    -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .oncase-dots:hover .oncase-area-point-blue{
    	stroke-width:2px;
    }
    .oncase-dots:hover .oncase-area-point-blue-small{
    	stroke-width:0px;
    }

    .oncase-bar {
      opacity: .8;
    }
    .oncase-bar:hover {
      opacity: 1;
    }




    /*
      Social
     */

     .footer-social-wrapper {
      font-size: 14px;
    }

    .footer-social-wrapper .socicon {
      cursor: pointer;
    }

    .footer-social-wrapper .socicon i.fa-circle {
      -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

      text-shadow: none;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);

    }
    .footer-social-wrapper .socicon:hover i.fa-circle {
        text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
        stroke-width:2px;
    }

    .oncase-footer-grid {
        padding-bottom: 20px;
        /* margin-top: 10px; */
        padding-top: 10px;
        background-color: rgba(0,0,0,0.08);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding-bottom: 0;
    }
    ul.oncase-links {
      list-style: none;
      margin-top:5px;
      padding-left: 0px;
      display:inline-block;
    }
    ul.oncase-links li {
      margin-right:20px;
    }
    ul.oncase-links li.inline-block {
      margin-right:20px;
      display:inline-block;
    }

    ul.oncase-links li a,
    ul.oncase-links li a:visited,
    ul.oncase-links li a:active{
      text-decoration:none;
      outline:none;
    }

    ul.oncase-links li a.active{
      font-weight:900;
    }

    ul.oncase-links li a:hover{
      text-decoration: underline;

    }

    .footer-section{
      margin:0 auto;
      padding:5px 0;
      margin-top:-8px;
    }

    .footer-section.z1{
      position: relative;
      z-index: 1;
      box-shadow: 0 -2px 4px 1px rgba(0,0,0,0.2);
    }

    .footer-section.z2{
      position: relative;
      z-index: 2;
      box-shadow: 0 -2px 8px 0px rgba(0,0,0,0.5);
    }
    .footer-social-text-line{
      line-height:40px;
    }

    .south-america-map {
        position: absolute;
        width: 400px;
        height: 350px;
        background-image: url(assets/img/south_america.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        right: 80px;
        margin-top: -140px;
    }

    </style>


    <div class="fake-content"></div>
    <div class="charts">
    	<svg id="area" />
    </div>
    <div class="footer-content">
      
      <div class="row oncase-content-margin oncase-footer-grid" >
        <div class="col-xs-12 col-sm-4 col-md-3 text-left" >
          <h2 class="oncase-section-heading-thin text-left"><span>  {{ 'footer.ABOUT_HEADING' | translate }}  </span></h2>
          <ul class="oncase-links"><li>
            {{ 'footer.ABOUT_TXT' | translate }}
          </li></ul>
        </div>
        <div class="col-xs-12 col-lg-offset-1 col-sm-4 col-md-2 text-left" >
          <h2 class="oncase-section-heading-thin text-left"><span >{{ 'footer.OTHER_CHANNELS' | translate }}</span></h2>
          <ul class="oncase-links">
            <li><a class="white-link" href="http://carreers.onca.se/" target="blank">{{ 'footer.OTHER_CARREERS' | translate }}</a></li>
            <li><a class="white-link" href="http://sandbox.onca.se/" target="blank">{{ 'footer.OTHER_SANDBOX' | translate }}</a></li>
            <li><a class="white-link" href="http://www.transparencia.pub/" target="blank">{{ 'footer.OTHER_LABTRANSP' | translate }}</a></li>
            <li><a class="white-link" href="http://pentahobrasil.com.br/" target="blank">{{ 'footer.OTHER_PENTAHO_BRASIL' | translate }}</a></li>
          <ul>
        </div>
        <div class="col-xs-12 col-lg-offset-1 col-sm-4 col-md-3 text-left" >
          <h2 class="oncase-section-heading-thin text-left"><span >{{ 'footer.CONTACT_US' | translate }} </span></h2>
          <ul class="oncase-links">
            <li>{{ 'footer.RECIFE_PHONE' | translate }}</li>
            <li>{{ 'footer.RIO_PHONE' | translate }}</li>
            <li>{{ 'footer.SAOPAULO_PHONE' | translate }}</li>
          </ul>
            
            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="selectedIndex=5;HeaderCtrl.tabClicked(selectedIndex)">{{ 'footer.CONTACT_BUTTON_TEXT' | translate }}</md-button>
          
        </div>

<div class="south-america-map hidden-sm hidden-xs"></div>
      </div> 
    </div>

<div class="footer-section z1 oncase-blue bg-oncase-light-gray">
  <div class="row oncase-content-margin" >
      <div class="col-sm-12 col-md-9  text-left" >
          <ul class="oncase-links">
            <li class="inline-block"><a class="oncase-blue" ng-class="{active : selectedIndex===0}" href="/{{HeaderCtrl.getCurrentLang()}}/" ng-click="selectedIndex=0;HeaderCtrl.tabClicked(selectedIndex)">{{ 'header.MENU_HOME' | translate }}</a></li>
            <li class="inline-block"><a class="oncase-blue" ng-class="{active : selectedIndex===1}" href="/{{HeaderCtrl.getCurrentLang()}}/about" ng-click="selectedIndex=1;HeaderCtrl.tabClicked(selectedIndex)">{{ 'header.MENU_ABOUT' | translate }}</a></li>
            <li class="inline-block"><a class="oncase-blue" ng-class="{active : selectedIndex===2}" href="/{{HeaderCtrl.getCurrentLang()}}/services" ng-click="selectedIndex=2;HeaderCtrl.tabClicked(selectedIndex)">{{ 'header.MENU_SERVICES' | translate }}</a></li>
            <li class="inline-block"><a class="oncase-blue" ng-class="{active : selectedIndex===3}" href="/{{HeaderCtrl.getCurrentLang()}}/products" ng-click="selectedIndex=3;HeaderCtrl.tabClicked(selectedIndex)">{{ 'header.MENU_PRODUCTS' | translate }}</a></li>
            <li class="inline-block"><a class="oncase-blue" ng-class="{active : selectedIndex===4}" href="/{{HeaderCtrl.getCurrentLang()}}/clients-and-partners" ng-click="selectedIndex=4;HeaderCtrl.tabClicked(selectedIndex)">{{ 'header.MENU_CLIPAR' | translate }}</a></li>
            <li class="inline-block"><a class="oncase-blue" ng-class="{active : selectedIndex===5}" href="/{{HeaderCtrl.getCurrentLang()}}/contact" ng-click="selectedIndex=5;HeaderCtrl.tabClicked(selectedIndex)">{{ 'header.MENU_CONTACT' | translate }}</a></li>
          <ul>
      </div>
      <div class="col-sm-12 col-md-3 text-right" >
        <ul class="oncase-links">
          <li class="inline-block"> <a target="_self" href="{{HeaderCtrl.getCurrentRoutForLang('pt')}}" class="oncase-lang-item no-outline" ng-class="{ active : HeaderCtrl.getCurrentLang()==='pt' }">Portugu&ecirc;s</a> </li>
          <li class="inline-block"> <a target="_self" href="{{HeaderCtrl.getCurrentRoutForLang('en')}}" class="oncase-lang-item no-outline" ng-class="{ active : HeaderCtrl.getCurrentLang()==='en' }">English</a> </li>
        </ul>
          
          
      </div>
  </div>
</div>
<div class="footer-section z2 oncase-white bg-oncase-gray">
  <div class="row oncase-content-margin" >
    <div class="col-xs-12 col-sm-6 text-left footer-social-text-line" >{{ 'footer.DEVELOPED_BY_ONCASE' | translate }}</div>
    <div class="col-xs-12 col-sm-6 text-right" >

      <div class="footer-social-wrapper">
        
        <a target="_blank" href="https://fb.com/oncasesolucoes">
          <span class="fa-stack fa-lg socicon">
            <i class="fa fa-circle fa-stack-2x oncase-white"></i>
            <i class="fa fa-facebook fa-stack-1x oncase-gray" ></i>
            <md-tooltip md-direction="top">
              {{ 'footer.FACEBOOK_TOOLTIP' | translate }}
            </md-tooltip>
          </span>
        </a>

        <a target="_blank" href="https://twitter.com/oncase">
          <span class="fa-stack fa-lg socicon">
            <i class="fa fa-circle fa-stack-2x oncase-white"></i>
            <i class="fa fa-twitter fa-stack-1x oncase-gray" ></i>
            <md-tooltip md-direction="top">
              {{ 'footer.TWITTER_TOOLTIP' | translate }}
            </md-tooltip>
          </span>
        </a>

        <a target="_blank" href="https://youtube.com/c/OncaseBr">
          <span class="fa-stack fa-lg socicon">
            <i class="fa fa-circle fa-stack-2x oncase-white"></i>
            <i class="fa fa-youtube fa-stack-1x oncase-gray" ></i>
            <md-tooltip md-direction="top">
              {{ 'footer.YOUTUBE_TOOLTIP' | translate }}
            </md-tooltip>
          </span>
        </a>

        <a target="_blank" href="http://blog.oncase.com.br">
          <span class="fa-stack fa-lg socicon">
            <i class="fa fa-circle fa-stack-2x oncase-white" ></i>
            <i class="fa fa-wordpress fa-stack-1x oncase-gray" ></i>
            <md-tooltip md-direction="top">
              {{ 'footer.BLOG_TOOLTIP' | translate }}
            </md-tooltip>
          </span>
        </a>

        <a target="_blank" href="https://www.linkedin.com/company/oncase">
          <span class="fa-stack fa-lg socicon">
            <i class="fa fa-circle fa-stack-2x oncase-white"></i>
            <i class="fa fa-linkedin fa-stack-1x oncase-gray" ></i>
            <md-tooltip md-direction="top">
              {{ 'footer.LINKEDIN_TOOLTIP' | translate }}
            </md-tooltip>
          </span>
        </a>

        <a target="_blank" href="https://github.com/oncase">
          <span class="fa-stack fa-lg socicon">
            <i class="fa fa-circle fa-stack-2x oncase-white"></i>
            <i class="fa fa-github fa-stack-1x oncase-gray" ></i>
            <md-tooltip md-direction="top">
              {{ 'footer.GITHUB_TOOLTIP' | translate }}
            </md-tooltip>
          </span>
        </a>

      </div>


    </div>
  </div>
</div>



