<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">   
	<div class="oncase-breadcrumbs oncase-white">{{ 'header.MENU_CLIPAR' | translate }}</div>
</section>


<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="oncase-content-margin">
		<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'clipar.GOOD_RELATION_ESSENTIAL_TXT1' | translate }}</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">{{ 'clipar.GOOD_RELATION_ESSENTIAL_TXT2' | translate }}</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
		<div class="oncase-separator"></div>
		<div class="row">
			<div class="col-sm-12" >
				<div class="oncase-content-margin">
					<div class="oncase-absolute-center oncase-section-image-single text-center ">
						<img src="../../../assets/img/handshake.jpg" width="150" height="150"  class="img-circle"/>
					</div>
					<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'clipar.TRANSPARENCY' | translate }}</h2>
					<p class=" oncase-promo-text text-center" translate>
						{{ 'clipar.TRANSPARENCY_P1'  }}
					</p>
					<p class=" oncase-promo-text text-center" translate>
						{{ 'clipar.TRANSPARENCY_P2'  }}
					</p>
				</div>
			</div>

			
		</div>

    </div>
</section>

<div class="oncase-separator"></div>	

<div class="oncase-white-section-fonts oncase-content-margin">
	<h2 class="oncase-section-heading oncase-gray text-center">{{ 'clipar.SOMEOFCLIENTS_L1' | translate }}</h2>
	<h1 class="oncase-section-heading oncase-blue text-center">{{ 'clipar.SOMEOFCLIENTS_L2' | translate }}</h1>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
</div>
<div class="oncase-white-section-fonts">
	<div class="container-fluid oncase-content-margin-flex oncase-margin-top">


		<div class="row-fluid">

			<div ng-repeat="client in cliParCtrl.clients | orderBy:'-priority'" class="col-sm-12 col-md-4 col-lg-3 oncase-margin-bottom" >

					<div class="oncase-desaturated-container oncase-clipar-logo-wrapper md-whiteframe-z1 bg-oncase-white oncase-content-paper" >
						<div class="oncase-table oncase-width-100">
							<div class="oncase-absolute-center oncase-section-image-single text-center oncase-clipar-logo oncase-width-100">
								<img class="oncase-desaturated-img" ng-src="{{client.logo}}" />
							</div>
						</div>
						<div class="oncase-clipar-action text-center oncase-light-gray no-outline">
							<i ng-click="openBottomSheet($event, client)" class="fa fa-angle-up oncase-medium-icon no-outline"></i>
						</div>
					</div>

			</div>

		</div>
	</div>
</div>




<div class="oncase-separator"></div>	

<div class="oncase-white-section-fonts oncase-content-margin">
	<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'clipar.PRECIOUS_PARTNERS_L1' | translate }}</h2>
	<h1 class="oncase-section-heading oncase-blue text-center">{{ 'clipar.PRECIOUS_PARTNERS_L2' | translate }}</h1>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-content-margin">
		<p class="oncase-promo-text text-center " translate>
			{{ 'clipar.PRECIOUS_PARTNERS_TEXT' }}
		</p>
	</div>

	<div class="container-fluid oncase-margin-top">
		<div class="row-fluid">
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-pentaho.png" width="240" />
				</div>

				<p class="oncase-promo-text text-center " translate>
					{{ 'clipar.PARTNER_PENTAHO' }}
				</p>
			</div>
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-mongodb.png" width="240" />
				</div>
				<p class="oncase-promo-text text-center " translate>
					{{ 'clipar.PARTNER_MONGODB' }}
				</p>
			</div>
			<div class="col-sm-12 col-md-4 oncase-desaturated-container">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<img class="oncase-desaturated-img" src="../../../assets/img/logo-delphos.png" width="240" />
				</div>
				<p class="oncase-promo-text text-center " translate>
					{{ 'clipar.PARTNER_DELPHOS' }}
				</p>
			</div>

		</div>
	</div>
</div>

<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>