

<link rel="stylesheet" href="../..//assets/css/send-button.css" />

<style type="text/css">

	.input-icons .input-icon {
	  
	}
	.input-icons md-input-container:not(.md-input-invalid) > md-icon.email {
	  color: green; 
	}
	.input-icons md-input-container:not(.md-input-invalid) > md-icon.name {
	  color: dodgerblue; 
	}
	.input-icons md-input-container.md-input-invalid > md-icon.email, .input-icons md-input-container.md-input-invalid > md-icon.name {
	  color: red; 
	}

	.md-icon-float textarea{
		margin-left:38px;
	}
	.md-icon-float.md-input-focused textarea,
	.md-icon-float.md-input-has-value textarea{
	    margin-left: 38px;
	    margin-top: 20px;
	}

	.oncase-google-map{
	    width: 100%;
	    height: 500px;
	    margin-bottom: -20px;
	}

	.oncase-google-map map{
		height: 470px;
	}


/* ==============================================
    X-Small devices specifics - sync with BS3.0

     ---- portrait ----

   ============================================== */
@media(max-width:767px){
	.oncase-google-map map{
		height: 270px;
	}
	.oncase-google-map{
	    height: 280px;
	}
}


</style>
<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">
    <div class="oncase-breadcrumbs oncase-white">{{ 'header.MENU_CONTACT' | translate }}</div>
</section>
<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom">
    <md-toolbar class="md-accent oncase-margin-bottom">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">{{ 'contact.CONTACT_FORM_TITLE' | translate }}</h2>
        </div>
    </md-toolbar>
    <form name="contactForm" id="contactForm">
	    <div class="oncase-form-wrapper">
	        <div class="row oncase-content-margin input-icons">
	            <div class="col-sm-12 col-md-6">
	                <md-input-container class="md-icon-float" >
	                    <label>{{ 'contact.NAME_LABEL' | translate }}</label>
	                    <md-icon md-svg-src="../../assets/img/ic_person_24px.svg" class="name input-icon"></md-icon>
	                    <input ng-model="ContactCtrl.user.name" type="text" ng-required="true">
	                </md-input-container>
	            </div>
	            <div class="col-sm-12 col-md-6">
	                <md-input-container class="md-icon-float">
	                    <label>{{ 'contact.EMAIL_LABEL' | translate }} </label>
	                    <md-icon md-svg-src="../../assets/img/ic_email_24px.svg" class="email input-icon"></md-icon>
	                    <input ng-model="ContactCtrl.user.email" type="email" ng-required="true">
	                </md-input-container>
	            </div>
	        </div>
	        <div class="row oncase-content-margin">
	            <div class="col-sm-12">
	                <md-input-container class="md-icon-float">
	                    <label>{{ 'contact.PHONE_LABEL' | translate }}</label>
	                    <md-icon class="input-icon" md-svg-src="../../assets/img/ic_phone_24px.svg"></md-icon>
	                    <input ng-model="ContactCtrl.user.tel" type="text" >
	                </md-input-container>
	            </div>
	        </div>
	        <div class="row oncase-content-margin">
	            <div class="col-sm-12">
	                <md-input-container class="md-icon-float">
	                    <md-icon class="input-icon" md-svg-src="../../assets/img/ic_message_black_24px.svg"></md-icon>
	                    <label>{{ 'contact.TEXTAREA' | translate }}</label>
	                    <textarea ng-model="ContactCtrl.user.msg"  md-maxlength="1024" ng-required="true"></textarea>
	                </md-input-container>
	            </div>
	        </div>
	    </div>
	</form>
    <div class="send-button" ng-click="ContactCtrl.send()" mouse-over-class="md-whiteframe-z4">
        <span class="send-plane send-plane-transition"></span>
        <span class="send-check"></span>
    </div>
</section>


<section class="oncase-white-section oncase-white-section-fonts">
	<div class="oncase-content-margin row">
            <div class="col-sm-12 col-md-6">

				<h2 class="oncase-section-heading oncase-gray text-left " >{{ 'contact.RECIFE' | translate }}</h2>
				<p class="oncase-promo-text text-left" translate>
					{{ 'contact.RECIFE_TXT' }}
				</p>

				<h2 class="oncase-section-heading oncase-gray text-left " >{{ 'contact.RIO' | translate }}</h2>
				<p class="oncase-promo-text text-left" translate>
					{{ 'contact.RIO_TXT'  }}
				</p>


				<h2 class="oncase-section-heading oncase-gray text-left " >{{ 'contact.SP' | translate }}</h2>
				<p class="oncase-promo-text text-left" translate>
					{{ 'contact.SP_TXT'  }}
				</p>
			</div>
            <div class="col-sm-12 col-md-6">
				<h2 class="oncase-section-heading oncase-gray text-left " >{{ 'contact.WORK_WITH_US' | translate }}</h2>
				<p class="oncase-promo-text" translate>
					{{ 'contact.WORK_WITH_US_TXT' }}
				</p>
			</div>
	</div>
</section>

<div class="oncase-google-map md-whiteframe-z4">
	<map center="-13.6864209,-49.2565201" zoom="4" default-style="false" scrollwheel="false" styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]'>
	    <info-window id="1" position="-8.0622218,-34.8715385" visible="true">
	      <div ng-non-bindable="">
	        {{ 'contact.MAP_HQ_INFOBOX' | translate }}
	      </div>
	    </info-window>
	</map>
</div>

<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>