

<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">   
	<div class="oncase-breadcrumbs oncase-white">Quem Somos</div>
</section>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="oncase-content-margin">
		<h2 class="oncase-section-heading oncase-gray text-center" >Mais</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">Sobre nós</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
		<div class="oncase-separator"></div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="oncase-content-margin">
					<div class="oncase-absolute-center oncase-section-image-single text-center ">
						<!--<i class="fa fa-bullseye oncase-big-icon oncase-orange"></i>-->
						<img src="../../../assets/img/medal-icon.png" width="150" height="150" />
					</div>
					<h2 class="oncase-section-heading oncase-gray text-center" >Receita para o sucesso</h2>
					<p class=" oncase-promo-text text-center">
						Somamos com sua equipe para dividirmos os problemas, subtraindo os riscos e multiplicando resultados!
					</p>
					<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
					<p class=" oncase-promo-text text-center ">
			Ajudamos você a entender melhor os dados de sua empresa, transformando-os em informação útil para a tomada de decisão, reduzindo perdas, minimizando custos, aumentando receitas e otimizando o seu bem mais precioso: O seu tempo. Esse é o nosso negócio. 
					</p>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 ">
				<div class="oncase-content-margin">
					<div class="oncase-absolute-center oncase-section-image-single text-center ">
						<!--<i class="fa fa-bullseye oncase-big-icon oncase-orange"></i>-->
						<img src="../../../assets/img/target.png" width="150" height="150" />
					</div>
					<h2 class="oncase-section-heading oncase-gray text-center" >No alvo</h2>
					<p class=" oncase-promo-text text-center ">
						Esse é o nosso maior objetivo, fazer com que nossos clientes possam gerir seus negócios com a informação na ponta do lápis, ou seja, em seus dispositivos móveis, a qualquer hora (alta disponibilidade da informação), em qualquer lugar (mobilidade).
					</p>

					<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
					<p class=" oncase-promo-text text-center ">
						Não perca mais tempo, entre em contato conosco e vamos revolucionar a sua informação, o seu negócios, impressionar seus clientes.
					</p>
				</div>
			</div>
			
		</div>

		<div class="oncase-separator"></div>


		<div class="text-center ">
            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(aboutCtrl.goTo(5))">Entre em contato</md-button>
        </div>
    </div>
</section>


<div ng-include="'app/shared/partials/services-flow.html'"></div>

<div class="oncase-white-section-fonts oncase-content-margin">

	<h1 class="oncase-section-heading oncase-blue text-center">O que fazemos?</h1>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-content-margin">
		<p class="oncase-promo-text text-center ">
			Somos uma consultoria especializada em soluções de Business Analytics, Business Intelligence e Big Data, com ênfase nas edições Community e Enterprise da <strong>Plataforma Pentaho</strong>.
		</p>
		<p class="oncase-promo-text text-center ">
			Atendemos todo o ciclo da informação, desde a extração, transformação e carga de dados estruturados e não estruturados, integrando com os principais Bando de Dados do mercado, proporcionado uma análise mais detalhada da informação, visando a criação de relatórios com informações consistentes e a publicação e distribuição dentro da corporação em paineis múltiplos, no formato de dashboards, utilizando metologias de desenvolimento ágeis e tecnologia de ponta. 
		</p>
		<p class="oncase-promo-text text-center ">
			Os nossos clientes consguem ter um excepcional <em>time to market</em>, fazendo com que a alta gestão de nossos clientes possam medir o resultado do investimento num espaço de tempo curto. 
		</p>
	</div>

	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="container-fluid oncase-margin-top">
		<div class="row-fluid">
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">Missão</h2>
				<p class="oncase-promo-text text-center ">
					Apoiar nossos clientes na descoberta de informações essenciais para o seu negócio,  aprimorando sua gestão e melhorando seus resultados.
				</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">Visão</h2>
				<p class="oncase-promo-text text-center ">
					Ser uma consultoria de excelência, referência no mercado global com soluções inovadoras, transformadoras e de qualidade. 
				</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">Negócio</h2>
				<p class="oncase-promo-text text-center ">
					Compartilhar conhecimento através de prestação de serviço especializado em Business Intelligence, Business Analytics, Spacial Analytics , Big Data e Data Integration.
				</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">Valores</h2>
				<p class="oncase-promo-text text-center ">

					Inovação
					<br />Qualidade
					<br />Eficiência
					<br />Desafio
					<br />Foco no resultado
					<br />Pesquisa
					<br />Conhecimento
					<br />Qualidade de vida no ambiente de trabalho

				</p>
			</div>

		</div>
	</div>
</div>


<div ng-include="'app/shared/partials/awards.html'"></div>

<div class="oncase-fixed-background oncase-fixed-session oncase-material-analytics-bg"></div>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-white-section-fonts ">
<div class="container-fluid">	

	<div class="row oncase-table">
		<div class="col-sm-4 historico oncase-side-img-container hidden-sm hidden-xs">
		      

			<div class="oncase-pic-info">
				<h3 class="ng-scope">Rua do Bom Jesus - Recife</h3>
			</div>



		</div>
		<div class="col-sm-12 oncase-padding-top oncase-padding-bottom">


							<div class="oncase-content-margin">

								<h2 class="oncase-section-heading oncase-gray text-center" >Um</h2>
								<h1 class="oncase-section-heading oncase-blue text-center">Breve histórico</h1>
								<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
								
									<div class="oncase-content-margin">
										<p class="oncase-promo-text text-left ">
										A Oncase Soluções em TI está no mercado há mais de 8 anos, posicionando-se como  uma consultoria especializada em inteligência de negócios (Business Intelligence) e gestão empresarial através do uso de ferramentas líderes de mercado.
										</p>
										<p class="oncase-promo-text text-left ">
										Contamos com uma estrutura de fábrica de software própria utilizando métodos ágeis da engenharia de software para apoiar nossas soluções e aprimorar nosso desenvolvimento de sistemas customizados.
										</p>
										<p class="oncase-promo-text text-left ">
										Conquistamos avanços importantes em quase uma década de existência, tais como: 
										</p>
										<p class="oncase-promo-text text-left ">
										- Em 2012 conquistamos o certificado de qualidade MPS.Br e em 2014 conquistamos o CMMI, uma certificação internacional, importante para fornecedores de software e serviços.
										</p>
										<p class="oncase-promo-text text-left ">
										- Crescimento acelerado no número de colaboradores certificados na plataforma Pentaho, 
										</p>
										<p class="oncase-promo-text text-left ">
										- Recebemos em 2013  e 2014 o prêmio de melhor parceiro Pentaho da América Latina.  
										</p>
										<p class="oncase-promo-text text-left ">
										Temos clientes de diversos portes, segmentos e em diferentes localidades.
										</p>
								
										<div class="text-center oncase-margin-top">
								            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(aboutCtrl.goTo(4))">Conheça nossos clientes</md-button>
								        </div>

									</div>


							</div>



		</div>
	</div>
</div>
</section>


<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>