

<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">   
	<div class="oncase-breadcrumbs oncase-white">{{ 'header.MENU_ABOUT' | translate }}</div>
</section>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="oncase-content-margin">
		<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'about.HEADING_MORE' | translate }}</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">{{ 'about.HEADING_ABOUT_US' | translate }}</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
		<div class="oncase-separator"></div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="oncase-content-margin">
					<div class="oncase-absolute-center oncase-section-image-single text-center ">
						<!--<i class="fa fa-bullseye oncase-big-icon oncase-orange"></i>-->
						<img src="../../../assets/img/medal-icon.png" width="150" height="150" />
					</div>
					<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'about.HEADING_RECIPE' | translate }}</h2>
					<p class=" oncase-promo-text text-center">
						{{ 'about.HEADING_RECIPE_UPPERTEXT' | translate }}
					</p>
					<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
					<p class=" oncase-promo-text text-center ">
						{{ 'about.HEADING_RECIPE_LOWERTEXT' | translate }} 
					</p>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 ">
				<div class="oncase-content-margin">
					<div class="oncase-absolute-center oncase-section-image-single text-center ">
						<!--<i class="fa fa-bullseye oncase-big-icon oncase-orange"></i>-->
						<img src="../../../assets/img/target.png" width="150" height="150" />
					</div>
					<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'about.HEADING_TARGET' | translate }}</h2>
					<p class=" oncase-promo-text text-center ">
						{{ 'about.HEADING_TARGET_UPPERTEXT' | translate }}
					</p>

					<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
					<p class=" oncase-promo-text text-center ">
						{{ 'about.HEADING_TARGET_LOWERTEXT' | translate }}
					</p>
				</div>
			</div>
			
		</div>

		<div class="oncase-separator"></div>


		<div class="text-center ">
            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(aboutCtrl.goTo(5))">{{ 'about.HEADING_CONTACT_BUTTON' | translate }}</md-button>
        </div>
    </div>
</section>


<div ng-include="'app/shared/partials/services-flow.html'"></div>

<div class="oncase-white-section-fonts oncase-content-margin">

	<h1 class="oncase-section-heading oncase-blue text-center">{{ 'about.WHAT_WE_DO_HEADING' | translate }}</h1>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-content-margin">
		<p class="oncase-promo-text text-center " translate>
			{{ 'about.WHAT_WE_DO_FIRST_PG' }}
		</p>
		<p class="oncase-promo-text text-center " translate>
			{{ 'about.WHAT_WE_DO_SECOND_PG' }} 
		</p>
		<p class="oncase-promo-text text-center " translate>
			{{ 'about.WHAT_WE_DO_THIRD_PG' }} 
		</p>
	</div>

	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="container-fluid oncase-margin-top">
		<div class="row-fluid">
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">{{ 'about.MISSION' | translate }}</h2>
				<p class="oncase-promo-text text-center " translate>
					{{ 'about.MISSION_TXT' }}
				</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">{{ 'about.VISION' | translate }}</h2>
				<p class="oncase-promo-text text-center " translate>
					{{ 'about.VISION_TXT' }}
				</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">{{ 'about.BUSINESS' | translate }}</h2>
				<p class="oncase-promo-text text-center " translate>
					{{ 'about.BUSINESS_TXT'  }}
				</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<h2 class="oncase-section-heading oncase-gray text-center">{{ 'about.VALUES' | translate }}</h2>
				<p class="oncase-promo-text text-center " translate>

					{{ 'about.VALUES_TXT' }}

				</p>
			</div>

		</div>
	</div>
</div>


<div ng-include="'app/shared/partials/awards.html'"></div>

<div class="oncase-fixed-background oncase-fixed-session oncase-material-analytics-bg"></div>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-white-section-fonts ">
<div class="container-fluid">	

	<div class="row oncase-table oncase-table-fix">
		<div class="col-sm-4 historico oncase-side-img-container hidden-sm hidden-xs">
		      

			<div class="oncase-pic-info">
				<h3 class="ng-scope">{{ 'about.PICTURE_SUBTITLE' | translate }}</h3>
			</div>



		</div>
		<div class="col-sm-12 oncase-padding-top oncase-padding-bottom">


							<div class="oncase-content-margin">

								<h2 class="oncase-section-heading oncase-gray text-center" >{{ 'about.SHORT_HISTORY_1ST' | translate }}</h2>
								<h1 class="oncase-section-heading oncase-blue text-center">{{ 'about.SHORT_HISTORY_2ND' | translate }}</h1>
								<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
								
									<div class="oncase-content-margin" >
										<div translate>{{ 'about.SHORT_HISTORY_TXT' }}</div>
								
										<div class="text-center oncase-margin-top">
								            <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(aboutCtrl.goTo(4))">{{ 'about.KNOW_OUR_CLIENTS' | translate }}</md-button>
								        </div>

									</div>


							</div>



		</div>
	</div>
</div>
</section>


<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>