body,
html {
    background-color: #eee;
    background-image: url(../img/bg-texture.png);
    font-family: 'Roboto', sans-serif;
    height: 100%; width: 100%; margin: 0;
}
.oncase-logo {
    background-image: url(../img/oncase-logo-sec-noslogan.svg);
    background-repeat: no-repeat;
    background-position: center-center;
    background-size: contain;
    margin: 0 auto auto 0;
}
.pull-right { float: right; }
.pull-left  { float: left;  }
.text-left  { text-align: left; }
.text-right { text-align: right ;}
.text-center { text-align: center ;}

.cursor-pointer {cursor:pointer;} 

md-toolbar.md-default-theme.md-accent{
    color:#fff;
}

.oncase-wrapped-text-3l {
    line-height: 2.5ex;
    height: 7.5ex;
    /* 2.5ex for each visible line */
    
    overflow: hidden;
}

a.white-link,
a.white-link:visited,
a.white-link:active{
  color:#fff;
}

.no-margin{
    margin:0;
}


.no-outline:focus {
    outline:0;
}
.oncase-width-100{
    width:100%;
}

.oncase-fixed-session-text{
    margin-top: -200px;
    margin-bottom: 60px;
    position: relative;
    font-weight: 100;
    font-size: 72px;
}
header.oncase-small-header .oncase-lang-sel-wrapper{
    display:none;
}

header .oncase-lang-sel-wrapper{
    position: absolute;
    right: 60px;
    margin-top: 10px;
    z-index:1;

}

a.oncase-lang-en::after{
    content:"English";
}
a.oncase-lang-pt::after{
    content:"Português";
}

header .oncase-lang-sel-wrapper i.material-icons {

    font-size: 20px;
    color: #fff;
    position: absolute;
    left: -20px;

}
header a.oncase-lang-item{color: #6C86AD;margin-left:10px;}
header a.oncase-lang-item.active{color:#fff;}

a.oncase-lang-item{
    text-transform: uppercase;
    font-size: 12px;
    text-decoration:none;
}
a.oncase-lang-item.active{
    font-weight:bold;
}



oncase-footer .oncase-lang-sel-wrapper a.oncase-lang-item{
    text-transform: uppercase;
    font-size: 12px;
    text-decoration:none;
}
oncase-footer .oncase-lang-sel-wrapper a.oncase-lang-item.active{
    color:#fff;
    font-weight:bold;
}




/* ==============================================
	Header
   ============================================== */

.oncase-header {
    position: absolute;
    border: none;
    outline: none;
    background-color: #2b4c7f;
    top: 0;
    right: 0;
    left: 0;
    height: 148px;
    z-index: 100;
}
/*	Navigation customization
 */

.oncase-header md-tabs {
    top: 0;
    height: 148px;
}
.oncase-header md-pagination-wrapper.md-center-tabs {
    width: auto;
}
.oncase-header md-tabs.md-default-theme md-ink-bar {
    color: #f06324;
    background-color: #f06324;
}
.oncase-header md-ink-bar {
    height: 4px;
}
.oncase-header md-tabs.md-default-theme .md-tab {
    text-transform: initial;
    padding-top: 2px;
    padding-bottom: 22px;
}
.oncase-header md-tabs.md-default-theme .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-focused {
    color: #fff;
    opacity: 1;
    background: transparent;
}
.oncase-header md-tabs.md-default-theme .md-tab {
    color: #fff;
    opacity: 0.6;
}
.oncase-header md-pagination-wrapper.md-center-tabs {
    margin: 0 0 0 auto;
    position: absolute;
    float: right;
    right: 0;
    margin-left: auto;
    left: auto;
    margin-right: 40px;
}
/*	Custom ripple effect
 */

.ripple-wrapper {
    overflow: hidden;
}
.ripple-effect {
    position: absolute;
    transform: scale(30);
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    animation: ripple-animation 600ms;
    -ms-animation: ripple-animation 600ms;
    -webkit-animation: ripple-animation 600ms;
}
/*	ripple animation */

@keyframes ripple-animation {
    from {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.2;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    to {
        transform: scale(30);
        -ms-transform: scale(30);
        -webkit-transform: scale(30);
        opacity: 0;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}
@-webkit-keyframes ripple-animation {
    from {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.2;
    }
    to {
        transform: scale(30);
        -ms-transform: scale(30);
        -webkit-transform: scale(30);
        opacity: 0;
    }
}
/*	Logo
 */

.oncase-header .oncase-logo {
    background-position: left center;
    height: 70px;
    width: 226px;
    position: absolute;
    top: 79px;
    margin-left: 30px;
}
/*	Header small styles
 */

.oncase-header.oncase-small-header .oncase-logo {
    top: 0px;
}
.oncase-header.oncase-small-header {
    height: 68px;
    position: fixed;
}
.oncase-header.oncase-small-header md-tabs {
    top: -80px;
}

/* ==============================================
	Main content waypoint style
   ============================================== */

.oncase-waypoint-wrapper {
    height: 148px;
}
.oncase-waypoint {
    height: 20px;
    margin-top: 20px;
}
/* ==============================================
	Main content
   ============================================== */

.oncase-breadcrumbs{
    position:relative;
    z-index:10;
    line-height:120px;
    font-size:32px;;
}

.oncase-section-jumbotron{
    height:120px;
}

.jumbo-background.jumbo-background-small {
    height: 310px;
}

.oncase-content-paper {
    background-color: white;
    position: relative;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.oncase-content-margin {
    margin: 0px 40px
}

.oncase-content-margin-flex{
    margin: 20px 10px;
}

.oncase-margin-top{
    margin-top:40px;
    display:block;
}
.oncase-margin-bottom{
    margin-bottom:40px;
    display:block;
}

.oncase-padding-top {
    padding-top:40px;
}
.oncase-padding-bottom {
    padding-bottom:40px;
}

.oncase-padding-left {
    padding-left:40px;
}
.oncase-padding-right {
    padding-right:40px;
}

.oncase-margin-bottom-fix{
    margin-bottom:140px;
}
/* ==============================================
	Animations between pages
   ============================================== */

.oncase-main-view {

}
.oncase-main-view.oncase-page-loading{
    opacity: 0;
}
.oncase-main-view.oncase-page-loaded{

    opacity: 1;
}
.oncase-transition-wrapper {
    height:150vh;
    margin: 0  auto;
    position:relative;
    margin-top:0;
    padding-top:30px;
    
}
.oncase-transition-wrapper.oncase-page-loading{
    display: block;
}
.oncase-transition-wrapper.oncase-page-loaded{
    display: none;
}



.jumbo-background {
    background-image: url(../img/jumbo-bg.png);
    height: 700px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    background-attachment: fixed;
}
.jumbo-background.active {
    opacity: 1;
}
.jumbo-background {
    -webkit-transition: all ease-in 400ms;
    -moz-transition: all ease-in 400ms;
    -o-transition: all ease-in 400ms;
    transition: all ease-in 400ms;
}





/* global items
 */

.oncase-desaturated-img{
    filter: saturate(0);
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -o-filter: saturate(0);
    -ms-filter: saturate(0);


    -webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    transition: all ease-in 200ms;
}

 .oncase-desaturated-container:hover .oncase-desaturated-img{
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
    -moz-filter: saturate(100%);
    -o-filter: saturate(100%);
    -ms-filter: saturate(100%);
}



.oncase-big-button {
    padding:5px 30px;

}

.oncase-white-section{

    padding:40px 0;
    width:100%;
    margin-top:60px;
}

h1.oncase-section-heading-thin{
    font-weight:100;
    font-size:2em;
    margin-top:0;
    margin-bottom:10px;
}
h2.oncase-section-heading-thin{
    font-weight:900;
    font-size:1em;
    margin-top:0;
    margin-bottom:0px;
}
span.oncase-border-bottom{
    border-bottom:solid 1px;
}

.oncase-white-section-fonts h2.oncase-section-heading{
    font-weight:bold;
    font-size:2em;
    margin-top:0px;
    margin-bottom:0;
    letter-spacing: -1px;
    clear:both;
    
}
.oncase-white-section-fonts h3.oncase-section-heading{
    font-weight:bold;
    font-size:2.8em;
    margin-top:0px;
    margin-bottom:0;
    letter-spacing: -1px;
    clear:both;
    border-bottom:solid 1px #ccc;
}
.oncase-white-section-fonts h1.oncase-section-heading{
    font-weight:900;
    font-size:3.6em;
    margin-top:0px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom:0;
    line-height: 1em;
    clear:both;
}

.oncase-section-heading-underscore {
    width:16%;
    margin:0 auto;
    height:1px;
    margin-top:16px;
}

.bg-oncase-blue {background-color:#2b4c7f;}
.bg-oncase-orange{background-color:#fb6816;}
.bg-oncase-gray{background-color:#333;}
.bg-oncase-light-gray{background-color:#ccc;}
.bg-oncase-very-light-gray{background-color:#eee;}
.bg-oncase-white{background-color:#fff;}


.underscore-oncase-blue {border-bottom:solid 1px #2b4c7f;}
.underscore-oncase-orange{border-bottom:solid 1px #fb6816;}
.underscore-oncase-gray{border-bottom:solid 1px #333;}
.underscore-oncase-light-gray{border-bottom:solid 1px #ccc;}

.oncase-blue {color:#2b4c7f;}
.oncase-orange{color:#fb6816;}
.oncase-gray{color:#333;}
.oncase-light-gray{color:#ccc;}
.oncase-white{color:#fff;}

span.md-code{
    border: solid 1px #ccc;
    padding: 2px 6px;
    border-radius: 2px;
    font-family: monospace;
    font-size: .8em;
    background-color: rgba(255,0,0,0.04);
}

p.oncase-promo-text{
    font-size:18px;
    color:#444;
    clear:both;
}

ul.oncase-promo-text{
    font-size:18px;
    color:#444;
}

.oncase-section-image-single svg{
    margin-top:10px;
    width:300px;
}

i.oncase-big-icon{
    font-size: 128px;
}
i.oncase-medium-icon{
    font-size: 32px;
}

.oncase-section-image-double svg{
    margin-top:10px;
    width:180px;
}

.oncase-section-image-triple svg{
    margin-top:10px;
    width:320px;
}

.oncase-separator{
    width:100%;
    height:50px;
}


button.md-raised.oncase-button:hover{
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.4); 
    -moz-box-shadow: 0 5px 8px 0 rgba(0,0,0,.4); 
    -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,.4); 
}


.oncase-clipar-action{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

/* ==============================================
    Inherited from home
   ============================================== */

.oncase-absolute-center{
    text-align: center;
}

.oncase-flexcards-wrapper {
    margin: 20px 25px;
}


.oncase-flexcard{
    padding:20px;
    color:#444;
    margin-bottom:20px;
    text-align: center;
    padding-bottom:30px;
    cursor:default;
}
.oncase-flexcard:hover{
    background-color:#f5f5f5;
}
.oncase-flexcard-img{
    height:160px;
    width:100%;
    text-align: center;
    margin-bottom: 0;
}

.oncase-flexcard-img svg{
    height:160px;
    fill:#ccc;
}

.oncase-flexcard .oncase-flexcard-img svg{
    fill:#999;
}
.oncase-flexcard:hover .oncase-flexcard-img svg{
    fill:reset;
}

.oncase-flexcard h2{
    text-align:center;
    margin-bottom:0;
    margin-top: 10px;
}

.oncase-header-underscore{
    height:1px;
    margin:0 auto;
    width:0px;
}

.oncase-flexcard:hover .oncase-header-underscore{
    width:90%;
}



.bg-red         {background-color:#f23b2e;}
.bg-pink        {background-color:#e60063;}
.bg-purple      {background-color:#9900b7;}
.bg-deep-purple {background-color:#6427bd;}
.bg-blue        {background-color:#228ff9;}
.bg-green       {background-color:#52b33d;}
.bg-light-green {background-color:#8ec62b;}

.oncase-secondary-red {color:#cb6866;}
.oncase-secondary-green {color:#a5bf4b;}
.oncase-secondary-blue {color:#66b1cb;}
.oncase-secondary-yellow {color:#cbb966;}
.oncase-secondary-deep-purple {color:#6427bd;}
.oncase-secondary-pink        {color:#e60063;}
.oncase-secondary-light-green {color:#8ec62b;}


.oncase-flexcard,
.oncase-flexcard svg,
.oncase-header-underscore{
            -webkit-transition: all ease-out 200ms;
    -moz-transition: all ease-out 200ms;
    -o-transition: all ease-out 200ms;
    transition: all ease-out 200ms;
}

[layout-wrap]{
    justify-content: space-between;
    -webkit-box-pack:justify;
    -webkit-box-orient:horizontal;
}










/* animation */

@keyframes page-in {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes page-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(30px);
        opacity: 0;
    }
}
@-webkit-keyframes page-in {
    from {
        -webkit-transform: translateY(30px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes page-out {
    from {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(30px);
        opacity: 0;
    }
}



.oncase-clipar-logo-wrapper{
    height:240px;
    outline:none;
}

.oncase-clipar-logo{
    display:table-cell;
    height:240px;
    vertical-align:middle;
}


/* ==============================================
    From about
   ============================================== */

   .oncase-side-img-container{
        display: table-cell;
        height: 100%;
        vertical-align: top;
        float: none;
   }

    .historico{
        background-image: url(../img/bom-jesus.jpg);
        background-size: cover;
    }
    .oncase-table {
        display:table;
    }

    .oncase-table-fix{
        margin-left: -16px;
    }

    .oncase-fixed-session{
        height:300px;
        margin-top: -20px;
        position: relative;
        z-index: -1;
    }
    .oncase-fixed-background{
        background-attachment: fixed;
    }

    .oncase-material-analytics-bg{
        background-image: url(../img/analytics-bg.png);
        background-size:cover;
        background-repeat:no-repeat;
            -webkit-filter: brightness(.3);
            -moz-filter: brightness(.3);
            filter: brightness(.3);
            margin-bottom: -50px;

    }
    .oncase-pic-info{

                position: absolute;
                bottom: 0;
                background-color: #000;
                width: 100%;
                margin: 0;
                margin-left: -15px;
                padding: 20px;
                opacity: .6;
                color: #fff;

    }

    .oncase-vertical-middle i.oncase-big-icon {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 128px;
        height: 128px;
    }

    .oncase-svg-128    { height:128px; margin:0;}
    .oncase-svg-128 svg{width:128px; height:128px; margin:0;}

img.oncase-desaturated-img{
    width:200px;
}

.oncase-clipar-logo-wrapper h1{
    line-height: .8em;
}



/* ============= oncase tv ======================  */

    .oncase-tv-logo{
        background-image:url(../img/oncase-tv-heading.png);
        background-position:center center;
        background-repeat:no-repeat;
        background-size:auto 100%;
        background-color:#255489;
    }

    .youtube-logo{
        background-image:url(../img/youtube-logo.png);
        background-position:center center;
        background-repeat:no-repeat;
        background-size:auto 100%;
    }

    .oncase-large-heading{
        height:200px;
    }
    .oncase-heading-logo{
        height:64px;
        line-height: 64px;
    }

    .oncase-tv-text{
        background-color:#255489;
    }
    .oncase-p-margin-fix{
        border:solid 1px transparent;
    }
    .oncase-small-margin{
        margin:5px;
    }

    button.md-button md-icon.fa {
        margin-top: 14px;
    }

    .oncase-videos-list{
        padding:20px;
    }

    div.oncase-margin-top-zero {
        margin-top:0px;
    }


/* ============ /oncase tv ======================  */


/* ==============================================
	Medium devices specifics - sync with BS3.0
   ============================================== */
@media(max-width:1199px){

    header.oncase-small-header .oncase-lang-sel-wrapper{
        display:inline;
    }

    header .oncase-lang-sel-wrapper{
        margin-top: 23px;
        margin-right: 40px;
    }



    img.oncase-desaturated-img{
        width:180px;
    }

    .oncase-header {
        height: 68px;
        position: fixed;
    }
    .oncase-waypoint-wrapper {
        height: 68px;
    }
    .oncase-header .oncase-logo {
        top: 0px;
        margin-left: 0;
        width: 140px;
    }
    .jumbo-background {
        height: 600px;
    }
    .jumbo-background {
        background-attachment: scroll;
    }
    .container-fluid.oncase-content-margin-flex.ng-scope {
      margin: 0;
      padding: 8px;
    }


    /* from Home/index */


    
    .oncase-home-jumbotron.oncase-content-margin{
        margin:0;
    }

}

/* ==============================================
	Small devices specifics - sync with BS3.0
   ============================================== */
@media(max-width:991px){

	.jumbo-background{
		height:350px;
	}
	
}

/* ==============================================
    X-Small devices specifics - sync with BS3.0
   ============================================== */

@media(max-width:767px){
    .oncase-content-margin {
        margin: 0px 10px;
    }

    

    a.oncase-lang-en::after{
        content:"EN";
    }
    a.oncase-lang-pt::after{
        content:"PT";
    }
}

/* ==============================================
    X-Small devices specifics - sync with BS3.0

     ---- portrait ----

   ============================================== */
@media(max-width:767px) and(orientation:portrait){
    .oncase-white-section-fonts h1.oncase-section-heading{
        font-size:2.2em;
    }
    .oncase-fixed-session-text{
        font-size:36px;
    }
    .oncase-section-image-triple svg,
    .oncase-section-image-single svg{
        margin-top:10px;
        width:250px;
    }
}



