body,
html {
    background-color: #eee;
    background-image: url(../img/bg-texture.png);
    font-family: 'Roboto', sans-serif;
}
.oncase-logo {
    background-image: url(../img/oncase-logo-sec-noslogan.svg);
    background-repeat: no-repeat;
    background-position: center-center;
    background-size: contain;
    margin: 0 auto auto 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.oncase-wrapped-text-3l {
    line-height: 2.5ex;
    height: 7.5ex;
    /* 2.5ex for each visible line */
    
    overflow: hidden;
}
/* ==============================================
	Header
   ============================================== */

.oncase-header {
    position: absolute;
    border: none;
    outline: none;
    background-color: #2b4c7f;
    top: 0;
    right: 0;
    left: 0;
    height: 148px;
    z-index: 100;
}
/*	Navigation customization
 */

.oncase-header md-tabs {
    top: 0;
    height: 148px;
}
.oncase-header md-pagination-wrapper.md-center-tabs {
    width: auto;
}
.oncase-header md-tabs.md-default-theme md-ink-bar {
    color: #f06324;
    background-color: #f06324;
}
.oncase-header md-ink-bar {
    height: 4px;
}
.oncase-header md-tabs.md-default-theme .md-tab {
    text-transform: initial;
    padding-top: 2px;
    padding-bottom: 22px;
}
.oncase-header md-tabs.md-default-theme .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-focused {
    color: #fff;
    opacity: 1;
    background: transparent;
}
.oncase-header md-tabs.md-default-theme .md-tab {
    color: #fff;
    opacity: 0.6;
}
.oncase-header md-pagination-wrapper.md-center-tabs {
    margin: 0 0 0 auto;
    position: absolute;
    float: right;
    right: 0;
    margin-left: auto;
    left: auto;
    margin-right: 40px;
}
/*	Custom ripple effect
 */

.ripple-wrapper {
    overflow: hidden;
}
.ripple-effect {
    position: absolute;
    transform: scale(30);
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    animation: ripple-animation 600ms;
    -ms-animation: ripple-animation 600ms;
    -webkit-animation: ripple-animation 600ms;
}
/*	ripple animation */

@keyframes ripple-animation {
    from {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.2;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    to {
        transform: scale(30);
        -ms-transform: scale(30);
        -webkit-transform: scale(30);
        opacity: 0;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}
@-webkit-keyframes ripple-animation {
    from {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.2;
    }
    to {
        transform: scale(30);
        -ms-transform: scale(30);
        -webkit-transform: scale(30);
        opacity: 0;
    }
}
/*	Logo
 */

.oncase-header .oncase-logo {
    background-position: left center;
    height: 70px;
    width: 226px;
    position: absolute;
    top: 79px;
    margin-left: 30px;
}
/*	Header small styles
 */

.oncase-header.oncase-small-header .oncase-logo {
    top: 0px;
}
.oncase-header.oncase-small-header {
    height: 68px;
    position: fixed;
}
.oncase-header.oncase-small-header md-tabs {
    top: -80px;
}

/* ==============================================
	Main content waypoint style
   ============================================== */

.oncase-waypoint-wrapper {
    height: 148px;
}
.oncase-waypoint {
    height: 20px;
    margin-top: 20px;
}
/* ==============================================
	Main content
   ============================================== */

.oncase-content-paper {
    min-height: 100vh;
    background-color: white;
    position: relative;
}
.oncase-content-margin {
    margin: 0px 40px
}
/* ==============================================
	Animations between pages
   ============================================== */

.oncase-main-view.ng-enter {
    animation: page-in 0.5s both ease-in 0.3s;
    -ms-animation: page-in 0.5s both ease-in 0.3s;
    -webkit-animation: page-in 0.5s both ease-in 0.3s;
}
.oncase-main-view.ng-leave {
    animation: page-out 0.3s both ease-in;
    -ms-animation: page-out 0.3s both ease-in;
    -webkit-animation: page-out 0.3s both ease-in;
}
/* animation */

@keyframes page-in {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes page-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(30px);
        opacity: 0;
    }
}
@-webkit-keyframes page-in {
    from {
        -webkit-transform: translateY(30px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes page-out {
    from {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(30px);
        opacity: 0;
    }
}
.jumbo-background {
    background-image: url(../img/jumboBg-blue.jpg);
    height: 700px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px #ccc;
    background-size: ;
    background-repeat: no-repeat;
    opacity: 0;
    background-attachment: fixed;
}
.jumbo-background.active {
    opacity: 1;
}
.jumbo-background {
    -webkit-transition: all ease-in 400ms;
    -moz-transition: all ease-in 400ms;
    -o-transition: all ease-in 400ms;
    transition: all ease-in 400ms;
}





/* global items
 */

.oncase-big-button {
    padding:5px 30px;

}

.oncase-white-section{

    padding:40px 0;
    width:100%;
    background-color:#fff;
    margin-top:60px;
}

.oncase-white-section h2.oncase-section-heading{
    font-weight:bold;
    text-align:center;
    font-size:2em;
    margin-top:0px;
    margin-bottom:0;
    letter-spacing: -1px;
    
}
.oncase-white-section h3.oncase-section-heading{
    font-weight:bold;
    text-align:center;
    font-size:2.8em;
    margin-top:0px;
    margin-bottom:0;
    letter-spacing: -1px;
    
}
.oncase-white-section h1.oncase-section-heading{
    font-weight:900;
    text-align:center;
    font-size:3.6em;
    margin-top:0px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom:0;
    line-height: 1em;
}

.oncase-section-heading-underscore {
    width:16%;
    margin:0 auto;
    height:1px;
    margin-top:16px;
}

.bg-oncase-blue {background-color:#2b4c7f;}
.bg-oncase-orange{background-color:#fb6816;}
.bg-oncase-gray{background-color:#444;}
.bg-oncase-light-gray{background-color:#ccc;}

.oncase-blue {color:#2b4c7f;}
.oncase-orange{color:#fb6816;}
.oncase-gray{color:#444;}
.oncase-light-gray{color:#ccc;}

p.oncase-promo-text{
    font-size:18px;
    color:#444;
    text-align:center;
    clear:both;
}

.oncase-section-image-single svg{
    margin-top:10px;
    width:300px;
}

.oncase-section-image-double svg{
    margin-top:10px;
    width:180px;
}

.oncase-section-image-triple svg{
    margin-top:10px;
    width:320px;
}

.oncase-separator{
    width:100%;
    height:50px;
}

/* ==============================================
	Medium devices specifics - sync with BS3.0
   ============================================== */
@media(max-width:1199px){

    .oncase-header {
        height: 68px;
        position: fixed;
    }
    .oncase-waypoint-wrapper {
        height: 30px;
    }
    .oncase-header .oncase-logo {
        top: 0px;
        margin-left: 0;
        width: 140px;
    }
    .jumbo-background {
        height: 600px;
    }
    .jumbo-background {
        background-attachment: scroll;
    }

}

/* ==============================================
	Small devices specifics - sync with BS3.0
   ============================================== */
@media(max-width:991px){

	.jumbo-background{
		height:350px;
	}
	
}