<section class="oncase-section-jumbotron oncase-content-margin oncase-section-jumbotron-internals">   
	<div class="oncase-breadcrumbs oncase-white">Servi&ccedil;os</div>
</section>


<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="oncase-content-margin">
		<h2 class="oncase-section-heading oncase-gray text-center" >Oferecemos o que</h2>
		<h1 class="oncase-section-heading oncase-blue text-center">Você precisa</h1>
		<div class="oncase-section-heading-underscore bg-oncase-orange"></div>

		<p class=" oncase-promo-text text-center">
			Temos uma carta completa de serviços para inserir a sua empresa por completo no mundo de Business Intelligence, Data Analytics e Big Data.
		</p>

		<p class=" oncase-promo-text text-center">
			Oferecemos desde consultoria e suporte até treinamentos e desenvolvimento de produtos inovadores.
		</p>

    </div>
</section>

<div ng-include="'app/shared/partials/services-flow.html'"></div>


<div class="oncase-fixed-background oncase-fixed-session oncase-material-analytics-bg"></div>
<h1 class="text-center oncase-white oncase-bright-1 oncase-fixed-session-text">Consultoria</h1>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="row oncase-content-margin">

		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-line-chart oncase-big-icon oncase-secondary-green"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center " >Arquitetura Analytics</h2>
				<p class=" oncase-promo-text text-center">
					De ponta a ponta. Estamos prontos para auxiliá-lo desde a extração e processamento em fontes BigData, até exploração <em>on-demand</em> em bancos analíticos e também na mineração do conhecimento.
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-cloud oncase-big-icon oncase-secondary-blue"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >Cloud Computing</h2>
				<p class=" oncase-promo-text text-center">
					Sua infra não suporta mais os seus projetos? Nossa equipe tem o expertise certo para auxiliá-lo na migração dos seus artefatos. Faça conosco a avaliação dos custos e características de um projeto na nuvem.
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-hand-pointer-o oncase-big-icon oncase-secondary-red"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >User Experience</h2>
				<p class=" oncase-promo-text text-center">
					A satisfação do usuário final é um dos fatores determinantes para o sucesso de um projeto de Business Analytics. Nossa equipe tem altíssimo expertise em <em>front-ending & UX</em> e pode ajudá-los nessa conquista.
				</p>
		</div>

    </div>




	<div class="oncase-separator"></div>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-separator"></div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

			<p class=" oncase-promo-text text-center">
				Na Oncase, somos ávidos por novas tecnologias e por isso, estamos sempre em contato com tudo o que há de mais novo em termos de bancos de dados especialistas, plataformas de processamento de dados em massa, padrões de projeto real-time, componentes de visualização de dados, algorítmos e bibliotecas de Data Mining.
			</p>
			<p class=" oncase-promo-text text-center">
				Entre em contato conosco e agende uma visita. Ficaríamos felizes em ir até você ou em recebê-lo em nosso escritório.
			</p>
		</div>
	</div>
	<div class="oncase-separator"></div>
	<div class="text-center ">
        <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(servicesCtrl.goTo(5))">Entre em contato</md-button>
    </div>


	<div class="oncase-separator"></div>
</section>

<div class="oncase-fixed-background oncase-fixed-session oncase-material-analytics-bg"></div>
<h1 class="text-center oncase-white oncase-bright-1 oncase-fixed-session-text">Treinamentos</h1>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="row oncase-content-margin">

		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<div class="oncase-svg-128" ng-include="'../../../assets/img/pentaho-circle.svg'" width="150" height="150" ></div>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center " >Oficiais Pentaho</h2>
				<p class=" oncase-promo-text text-center">
					Como parceiros Pentaho, somos também <em>Authorised Training Providers</em>. Isso significa que o treinamento que ministramos tem conteúdo e certificado produzidos pela própria Pentaho e o curso é ministrado por profissionais certificados.
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-certificate oncase-big-icon oncase-secondary-yellow"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >Certificação</h2>
				<p class=" oncase-promo-text text-center">
					Possuímos também treinamento e orientação voltados aos profissionais que desejam percorrer o caminho da Certificação Pentaho. Constituída de duas provas - Platform e ETL -, o conteúdo requer além de conhecimentos gerais, experiência. 
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-users oncase-big-icon oncase-secondary-blue"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >In-company</h2>
				<p class=" oncase-promo-text text-center">
					Se você deseja montar internamente uma linha de produção de BI com Pentaho, nós podemos capacitar a sua equipe. É praxe da Oncase também, sugerir essa passagem de conhecimento ao final de todo projeto de consultoria que fazemos.
				</p>
		</div>

    </div>


	<div class="oncase-separator"></div>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-separator"></div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<p class=" oncase-promo-text text-center">
				Estamos montando um portal de treinamentos onde vocês vão poder consultar a agenda, bem como o conteúdo disponibilizado em cada um dos treinamentos que nós oferecemos.
			</p>
			<p class=" oncase-promo-text text-center">
				Enquanto isso, fique à vontade para nos ligar, entrar em contato através da nossa página de contato ou simplesmente enviar e-mail para: <span class="md-code">treinamento@oncase.com.br</span>.
			</p>

		</div>
	</div>


	<div class="oncase-separator"></div>
	<div class="text-center ">
        <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(servicesCtrl.goTo(5))">Entre em contato</md-button>
    </div>

	<div class="oncase-separator"></div>
</section>

<div class="oncase-fixed-background oncase-fixed-session oncase-material-analytics-bg"></div>
<h1 class="text-center oncase-white oncase-bright-1 oncase-fixed-session-text">Suporte</h1>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="row oncase-content-margin">

		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<div class="oncase-svg-128" ng-include="'../../../assets/img/pentaho-circle.svg'" width="150" height="150" ></div>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center " >Oficial Pentaho</h2>
				<p class=" oncase-promo-text text-center">
					Trabalhar com Pentaho é muito bom, você consegue produzir valor já com a versão Community. Entretanto, à medida em que a importância do seu projeto cresce, eleva-se também a responsabilidade sobre cada implementação. Além de outras inúmeras vantagens, a versão Enterprise oferece suporte oficial no Brasil através da Oncase e de outros parceiros.
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-code oncase-big-icon oncase-gray"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >Desenvolvedor</h2>
				<p class=" oncase-promo-text text-center">
					Que nossa equipe é muito qualificada, você já sabe. O que talvez você ainda não saiba é que todos somos apaixonados em passar o conhecimento que temos, acreditamos que quanto mais profissionais dominem o conhecimento, melhor será o ecossistema de Analytics com Pentaho. Se você tem uma equipe e projetos de Business Analytics, ficaremos felizes em auxiliá-los no que formos capazes.
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-graduation-cap oncase-big-icon oncase-secondary-green"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >Mentoring</h2>
				<p class=" oncase-promo-text text-center">
					É comum, empresas que contratam projetos de Business Analytics, quererem dominar as ferramentas e os conceitos ali por trás implementados. Nós da Oncase oferecemos o acompanhamento que sua equipe precisa para dominar toda a cadeia de produção de projetos de Analytics. Desde integração de dados até Mineração de dados e Otimizações.
				</p>
		</div>

    </div>


	<div class="oncase-separator"></div>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-separator"></div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<p class=" oncase-promo-text text-center">
				Oferecemos o <em>SLA</em> que lhe deixará tranquilo. Todo nosso gerenciamento e comunicação de suporte se dão através da plataforma <strong>Zendesk</strong>, no endereço <a target="_blank" href="http://oncase.zendesk.com">oncase.zendesk.com</a>.

			</p>
			<p class=" oncase-promo-text text-center">
				Fale conosco e contrate já o suporte que se adeque ao seu bolso e às necessidades da sua equipe.
			</p>

		</div>
	</div>


	<div class="oncase-separator"></div>
	<div class="text-center ">
        <md-button class="md-raised md-warn oncase-button no-margin" ng-click="HeaderCtrl.tabClicked(servicesCtrl.goTo(5))">Entre em contato</md-button>
    </div>

	<div class="oncase-separator"></div>
</section>


<div class="oncase-fixed-background oncase-fixed-session oncase-material-analytics-bg"></div>
<h1 class="text-center oncase-white oncase-bright-1 oncase-fixed-session-text">Inovações</h1>

<section class="oncase-content-margin oncase-content-paper md-whiteframe-z1 oncase-padding-bottom oncase-white-section-fonts oncase-padding-top">
	<div class="row oncase-content-margin">

		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-mobile oncase-big-icon oncase-secondary-light-green"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center " >Apps de apoio</h2>
				<p class=" oncase-promo-text text-center">
					É comum, em projetos de Analytics, a necessidade em se desenvolver aplicações de apoio, seja para complementar cadastros, informar metas ou acompanhar decisões de forma padronizada em dispositivos móveis. Nós temos um núcleo de profissionais habilitados a entregar o aplicativo necessário para que seu projeto rode a 100% da capacidade.
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-plug oncase-big-icon oncase-secondary-pink"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >Plugins</h2>
				<p class=" oncase-promo-text text-center">
					Como arquitetos certificados Pentaho, sabemos como extrair o máximo da plataforma, estendendo todas as funcionalidades possíveis, seja do seu BA-Server, seja do seu Pentaho Data Integration. Desenvolvemos plugins Sparkl ou <em>low-level</em>, além de <em>steps</em> e <em>job-entries</em> para o seu Kettle. 
				</p>
		</div>


		<div class="col-sm-12 col-md-4">
				<div class="oncase-absolute-center oncase-section-image-single text-center ">
					<i class="fa fa-flask oncase-big-icon oncase-secondary-deep-purple"></i>
				</div>
				<h2 class="oncase-section-heading oncase-gray text-center" >Produtos Analíticos</h2>
				<p class=" oncase-promo-text text-center">
					Nós montamos, dentro da Oncase, uma célula de inovações. Isso mesmo. Possuímos um núcleo inteiro com profissionais pesquisadores que experimentam no dia-a-dia iniciativas analíticas e estão prontos para lançar a qualquer minuto seu próximo produto analítico. Essa busca constante visa o preparo para oferecer ao mercado a agilidade nas novas tecnologias que surgem constantemente.
				</p>
		</div>

    </div>


	<div class="oncase-separator"></div>
	<div class="oncase-section-heading-underscore bg-oncase-orange"></div>
	<div class="oncase-separator"></div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<div class="oncase-absolute-center oncase-section-image-single text-center ">
				<img src="../../../assets/img/labtransp.png" height="150" />
			</div>
			<p class=" oncase-promo-text text-center">
				Conheça o LabTransp, ou Laboratório de Transparência Pública, apoiado pela Oncase e coordenado por membros do nosso time.
			</p>
			<p class=" oncase-promo-text text-center">
				O Laboratório de Transparência Pública (LABTRANSP) é um projeto de iniciativa do Núcleo de Estudos e Pesquisas em Finanças, do Centro de Ciências Sociais Aplicadas, da Universidade Federal da Paraíba. O foco do LABTRANSP é promover a cultura de dados abertos, de caráter público, dos entes governamentais de todos os poderes, fortalecendo assim a interação entre a sociedade e administração pública.
			</p>
			<p class=" oncase-promo-text text-center">
				<a target="_blank" href="http://transparencia.pub">Laboratório de Transparência Pública</a>
			</p>

		</div>
	</div>


	<div class="oncase-separator"></div>
</section>

<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>
<div class="row oncase-content-margin oncase-margin-top oncase-margin-bottom">&nbsp;</div>